<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="../static/scripts/scripts.js"></script>
<link type="text/css" rel="stylesheet" href="../static/css/style.css"/>
<link rel="shortcut icon" href="">
</head>
<body>
<div id="todo-app">
    <label id="todo-label">TO DO LIST</label>
    	<form>
    		<input type="text" id="new-todo" name="inputlist" placeholder="ENTER LIST OF TO DOs">  
    	</form>
    	<div id="acts">
	<button id="btn1">ADD TASK</button><button id="btn2">DELETE TASK</button><button id="btn3">SELECT ALL</button>
    <p id="instruct"> Press the task you wish to edit and press enter to save </p>
    <hr>
	   </div>
    	<div id="lists">
			<br><ul id="listahan"></ul>
		</div>
</div>


    <ul id="todo-list"></ul>
    <div id="footer">&copy DRIS</div>
</div>
</body>
</html>